<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHk-aoe2rTUwfD8pWcNss3MPdeQUl1PmI</string>
	<key>GCM_SENDER_ID</key>
	<string>996257690539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xplorit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>add-otp-6d230</string>
	<key>STORAGE_BUCKET</key>
	<string>add-otp-6d230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996257690539:ios:ff9c24b68d1827b15c98ee</string>
</dict>
</plist>